In [35]:
import pandas as pd
import numpy as np

In [36]:
DATA_PATH = '../data/auto_mpg.csv'
SAVE_CLEANED_DATA_PATH = '../data/auto_mpg_transformed.csv'

In [37]:
df = pd.read_csv(DATA_PATH)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [39]:
origin_map = {
    1: 'USA',
    2: 'Europe',
    3: 'Japan'
}

df['origin'] = df['origin'].map(origin_map)

In [40]:
df[['manufacturer', 'model']] = df['car name'].str.split(' ', expand=True, n=1)
df = df.drop(['car name'], axis=1)

In [41]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,manufacturer,model
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA,buick,skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA,plymouth,satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA,amc,rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA,ford,torino

In [42]:
df['manufacturer'].value_counts()

manufacturer
ford             51
chevrolet        43
plymouth         31
amc              28
dodge            28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
mazda            10
oldsmobile       10
fiat              8
peugeot           8
audi              7
chrysler          6
vw                6
volvo             6
renault           5
saab              4
subaru            4
opel              4
chevy             3
bmw               2
cadillac          2
maxda             2
mercedes-benz     2
triumph           1
vokswagen         1
mercedes          1
hi                1
capri             1
chevroelt         1
toyouta           1
nissan            1
Name: count, dtype: int64

In [43]:
# changing misspeled manufacturer names
map_manufacturer = {
    'vw': 'volkswagen',
    'vokswagen': 'volkswagen',
    'chevroelt': 'chevrolet',
    'chevy': 'chevrolet',
    'toyouta': 'toyota',
    'maxda': 'mazda',
    'mercedes-benz': 'mercedes'
}

df['manufacturer'] = df['manufacturer'].replace(map_manufacturer)

In [44]:
df['manufacturer'].unique()

array(['chevrolet', 'buick', 'plymouth', 'amc', 'ford', 'pontiac',
       'dodge', 'toyota', 'datsun', 'volkswagen', 'peugeot', 'audi',
       'saab', 'bmw', 'hi', 'mercury', 'opel', 'fiat', 'oldsmobile',
       'chrysler', 'mazda', 'volvo', 'renault', 'honda', 'subaru',
       'capri', 'mercedes', 'cadillac', 'triumph', 'nissan'], dtype=object)

In [45]:
df.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model year       13
origin            3
manufacturer     30
model           299
dtype: int64

In [46]:
df.to_csv(SAVE_CLEANED_DATA_PATH, index=False)